html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

#formProduct{
    margin: 1%;
}

.fixed-bottom-right{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 20em;
    height: 10em;
    max-width: 50%;
}

#output{
    max-width: 50%;
}

#navbar{
    width: 100%;
    position: fixed;
}

#footer{
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    opacity: .75;
}

#image{
    width: 100%;
}

/*#productos{
    width: 100%;
}*/

.card{
    margin: 0.3rem;
}

/*@media screen and (min-width: 800px){
    #productos{
        display: inline-flex;
    }
}*/