html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 7em;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    /*font-weight: bold;*/
    /*color: #9A53C3;*/
}

.subtitle {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    /*font-weight: bold;*/
    /*color: #9A53C3;*/
    /*border: thin;*/
    /*border-color: black*/
}

.links > a {
    color: white;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

#formProduct{
    margin: 1%;
}

.fixed-bottom-right{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 20em;
    height: 10em;
    max-width: 50%;
}

#output{
    max-width: 50%;
}

#navbar{
    width: 100%;
    position: fixed;
}

#footer{
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    opacity: .75;
}

#image{
    width: 100%;
}

#infocard{
    align-items: center;
}

.card{
    margin: 0.3rem;
}

#img-container{
    height: 22rem;
    vertical-align: middle;
    display: table-cell;
}

#prod-img{
    overflow: hidden;
}

.card-deck-wrapper{
    
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }

    #banner{
        width: 50rem;
    }
}